body{
    background-image: url("/img/bg4final.jpg");
}
.first{
    padding: 5vw;
    display: flex;
    flex-direction: row;
    background-color: #65f0c1;
}
.column{
    flex-direction: column;
}
.image{
    margin-left: 4vw;
    margin-top: 20px;
    width:35vw;
}
.first ul li{
    margin-top: 2vh;
}
.form1{
    display: flex;
    flex-direction: row;
}
.labelitem2{
    margin: 5px;
}
.m2{
    margin-left: 10vw;
}
.dob{
    height: 35px;
    margin: 5px
}
.inputbox1{
    padding-left:10px;
}
@media (max-width:1150px) {
    .first{
        display: flex;
        flex-direction: column-reverse;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    .head{
        height: auto;
    }
    .image{
        margin-bottom: 50px;
        width: 82vw;
    }
    .inputbox{
        margin-right: 50px;
    }
    .dropdown1{
        margin-right: 50px;
    }
}
@media (max-width:700px) {
    .inputbox{
        width: 200px;
    }
    .label{
        padding-left: 0px;
        padding-right: 0px;
    }
    .second{
        padding-left: 5px;
    }
}
